@charset "utf-8";

.blocky {
  color: white;
  font-size: 5em;
}

body {
  background-image: linear-gradient(to bottom right, #37015e, #4c2a7a);
}

.timer {
  color: white;
  font-size: 5em;
}
